@import "./_varibles.scss";
.rx-button {
  background-color: $rx-primary;
  color: white;
  font-size: 20px;
  padding: 10px 40px;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  border: 1px solid $rx-primary;
  border-radius: 5px;

  &:hover,
  &:focus,
  &:active {
    background-color: white;
    color: $rx-primary;
    transition-duration: 0.4s;
  }
}

.rx-button-outlined {
  cursor: pointer !important;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 0;
  font-size: 1.5rem;
  padding: 80px 15px;
  width: 10% !important;
}

.rx-button-nd {
  cursor: pointer !important;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 0;
  font-size: 1rem;
  padding: 20px 60px;
}
