@import "@/styles/_varibles.scss";

.rx-logo {
  transition: 0.4s ease-in-out;
  height: 45px;
}

.rx-navbar {
  background: rgba(32, 32, 32, 0.6) !important;
}

.rx-desktop-navbar {
  .rx-menu-item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 40px;
    font-size: 20px;
    cursor: pointer;
  }
}

.rx-mobile-navbar {
  position: fixed;
  transform: translate(100%, -110px);
  height: 100vh;
  width: 100%;
  background-color: $rx-primary;

  .rx-menu-item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 40px;
    font-size: 20px;
    cursor: pointer;

    &:hover,
    &:active {
      color: #744600;
    }
  }

  .rx-ul {
    transform: translateX(-100px);
  }

  .rx-reverse {
    transition: 0.4s ease-in-out;
    transform: rotate(180deg) translateX(230px) !important;
  }
}

.rx-logo-animate {
  transition: 0.4s ease-in-out;
  transform: rotate(-90deg) translateX(-30%) translateY(-280px);
}

.rx-collapse {
  transition: 0.4s ease-in-out;
}

.rx-expand {
  transition: 0.4s ease-in-out;
  transform: translate(15%, -110px);
}

.rx-active {
  transition: 0.4s ease-in-out;
  border-bottom: 5px solid $rx-primary;
}

.rx-arrow-button {
  width: 25px;
}

.rx-left-arrow {
  transition: 0.4s ease-in-out;
  transform: translateX(-230px);
}

.rx-app-transform {
  transition: 0.4s ease-in-out;
  transform: translateX(-700px);
}
