.rx-cuisines-main {
  .rx-cuisines-img {
    padding: 100px 40px;
    width: 100%;
  }

  .rx-content {
    background-image: url("../../../public/assets/images/a2.png");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 100px 40px;

    .rx-text {
      color: white;
      transform: translateY(-30%);
    }
  }

  .rx-title {
    font-size: 5rem;
    font-family: "Cookie", cursive;
    text-align: center;
  }

  .rx-description {
    font-size: 1rem;

    p {
      text-align: center;
      width: 30%;
    }
  }
}
