.rx-banner-wrapper {
  transition: 0.4s ease-in-out;
  height: 100vh;
  position: relative;
  z-index: -1;
  background-image: url("../../../public/assets/images/rx_1.jpg");
  background-size: cover;
  background-position: bottom;

  .rx-title {
    font-family: "Cookie", cursive;
    color: white;
    font-size: 7rem;
  }

  .rx-arrow {
    width: 20px;
  }

  .rx-sign {
    width: 800px;
    opacity: 0.1;
  }
}

.rx-banner-transform {
  transition: 0.4s ease-in-out;
  transform: translateX(-700px);
}
