$primary: blue;
:export {
  color: $primary;
}

.rx-sulfate {
  position: relative;
  z-index: 1;

  .rx-template {
    height: 100%;
    width: 100%;
    margin: 20px;
  }

  .rx-template:nth-child(odd) {
    background-color: red;
  }

  .rx-template:nth-child(even) {
    background-color: black;
  }

  .rx-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;

    .rx-item-main {
      transition: 0.4s ease-in-out;

      .rx-item {
        height: 100%;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  .rx-sulfate-template {
    height: 100%;
  }

  .rx-flex-default {
    flex: 1 0 100%;
  }

  .rx-multi-1 {
    flex: 0 0 100%;
  }

  .rx-multi-2 {
    flex: 0 0 50%;
  }

  .rx-multi-3 {
    flex: 0 0 33.33%;
  }

  .rx-multi-4 {
    flex: 0 0 25%;
  }

  .rx-multi-5 {
    flex: 0 0 20%;
  }

  .rx-navigation {
    position: relative;
    bottom: 90px;
  }

  .rx-next,
  .rx-prev {
    background: transparent;
    padding: 10px;
    margin: 30px;
    width: 50px;
    border-radius: 50%;

    img {
      width: 15px;
    }
  }
}
